<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0; charset=utf-8' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css"
        integrity="sha384-rCA2D+D9QXuP2TomtQwd+uP50EHjpafN+wruul0sXZzX/Da7Txn4tB9aLMZV4DZm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/general.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>{{title}}</title>
</head>
<body>
    {{{body}}}
</body>
</html>