<style>
    body {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    p {
        font-size: 16;
    }
</style>

<div class="card text-white bg-danger mb-3" style="max-width: 60rem;">
  <div class="card-header" style="text-align: center;">
      <h3>404</h3>
  </div>
  <div class="card-body">
    <p class="card-text" id="message" style="text-align: center;">
        o_0<br>
        Resource not found!
    </p>
  </div>
</div>
