{{#if error}}
    <div class="alert alert-dismissible alert-danger" id="alert">
        <button type="button" class="close" data-dismiss="alert" id="hide">&times;</button>
        <h4 class="alert-heading">Oh Snap!</h4>
        <p class="mb-0">{{message}}</p>
    </div>
{{/if}}

<div class="general">
    <h1>National Pokédex</h1>
</div>
<div class="general form-group">
    <input class="form-control" type="text"
        placeholder="Type in a Pokémon name or national dex number"
        style="width: 325px;" id="searchBar" />
    <button type="button" class="btn btn-primary" id="searchBtn">Search</button>
</div>

<div>
    {{#each pokemon as |pokemon|}}
        <div class="general card text-white bg-primary mb-3" style="max-width: 20rem; float: left;">
            <div class="card-header">
                <a href="{{#pokemonLink pokemon.id}}{{/pokemonLink}}">
                    <h4>
                        No. {{pokemon.id}}: {{#format pokemon.name}}{{/format}}
                    </h4>
                </a>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{pokemon.genera.2.genus}}</h4>

                <img style="width: 96px; height: 96px"
                src={{#imageLink pokemon.id}}{{/imageLink}}
                alt="Image" id="image">
            </div>
        </div>
    {{/each}}
</div>

<script>
    $('#hide').click(function() {
        $('#alert').hide();
    });
</script>
<script src="/client/redirectToPokemon.js"></script>
